<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>id</key>
          <string>1</string>
          <key>nickname</key>
          <string>superJia</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1994-04-26</string>
          <key>aboutus</key>
          <string>一个爱笑爱唱歌的疯丫头</string>
          <key>avater</key>
          <string>S4.jpg</string>
          <key>city</key>
          <string>hebei</string>
          <key>pictures</key>
          <string>S4.jpg/S13.jpg/S18.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>A crazy girl who likes singing and laughing.</string>
          <key>korea</key>
          <string>사랑하 며 노래하는 미 친 여자 애.</string>
          <key>japan</key>
          <string>1人は笑いながら歌う気がない。</string>
          <key>tw</key>
          <string>一個愛笑愛唱歌的瘋丫頭</string>
    </dict>
    <dict>
          <key>id</key>
          <string>2</string>
          <key>nickname</key>
          <string>cecilia</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1989-01-15</string>
          <key>aboutus</key>
          <string>不要用你的想法去想别人</string>
          <key>avater</key>
          <string>S22.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S22.jpg/S43.jpg/S45.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Don&apos;t use your thoughts to think about others.</string>
          <key>korea</key>
          <string>너의 생각으로 다른 사람을 생각 하지 마라.</string>
          <key>japan</key>
          <string>あなたの考えで他人を考えてはいけない。</string>
          <key>tw</key>
          <string>不要用你的想法去想別人</string>
    </dict>
    <dict>
          <key>id</key>
          <string>3</string>
          <key>nickname</key>
          <string>sha</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1992-03-15</string>
          <key>aboutus</key>
          <string>背包旅行 走遍世界上每一个角落</string>
          <key>avater</key>
          <string>S50.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S50.jpg/S60.jpg/S70.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Backpacking travels all over the world.</string>
          <key>korea</key>
          <string>배낭여행은 세계 곳곳을 돌 아다 녔다.</string>
          <key>japan</key>
          <string>リュックサック旅行は世界の隅々を歩き回る。</string>
          <key>tw</key>
          <string>背包旅行走遍世界上每一個角落</string>
    </dict>
    <dict>
          <key>id</key>
          <string>4</string>
          <key>nickname</key>
          <string>Ada</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1995-12-18</string>
          <key>aboutus</key>
          <string>游艇 滑雪 摩托  梦想走遍全世界</string>
          <key>avater</key>
          <string>S80.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S80.jpg/S84.jpg/S87.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The dream of a yachting motorcycle goes all over the world.</string>
          <key>korea</key>
          <string>유람선 스키 오토바이의 꿈은 전 세계를 누비고 있다.</string>
          <key>japan</key>
          <string>ヨットのスキーバイクの夢は世界を駆け巡る。</string>
          <key>tw</key>
          <string>遊艇滑雪摩托夢想走遍全世界</string>
    </dict>
    <dict>
          <key>id</key>
          <string>5</string>
          <key>nickname</key>
          <string>中国熊</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1997-03-19</string>
          <key>aboutus</key>
          <string>墨尔本大学经济学硕士 有梦想的才女</string>
          <key>avater</key>
          <string>S95.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S95.jpg/S6.jpg/S99.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Master of economics of the university of Melbourne has a dream talent.</string>
          <key>korea</key>
          <string>멜 버 른 대 경제학 석사는 꿈의 수재다.</string>
          <key>japan</key>
          <string>メルボルン大学の経済学修士に夢の才女。</string>
          <key>tw</key>
          <string>墨爾本大學經濟學碩士有夢想的才女</string>
    </dict>
    <dict>
          <key>id</key>
          <string>6</string>
          <key>nickname</key>
          <string>张馨月</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1993-06-05</string>
          <key>aboutus</key>
          <string>喜欢唱歌 喜欢旅游 喜欢美洲的风土人情</string>
          <key>avater</key>
          <string>S103.jpg</string>
          <key>city</key>
          <string>tianjing</string>
          <key>pictures</key>
          <string>S103.jpg/S105.jpg/S115.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>I like singing and traveling.</string>
          <key>korea</key>
          <string>노래하는 것을 좋아하는 것은 미주의 풍토와 인정을 좋아 한다.</string>
          <key>japan</key>
          <string>◆歌が好きで、アメリカの風土が好きだ。</string>
          <key>tw</key>
          <string>喜歡唱歌喜歡旅遊喜歡美洲的風土人情</string>
    </dict>
    <dict>
          <key>id</key>
          <string>7</string>
          <key>nickname</key>
          <string>Brave</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1988-01-03</string>
          <key>aboutus</key>
          <string>没有快乐 微笑还在</string>
          <key>avater</key>
          <string>S120.jpg</string>
          <key>city</key>
          <string>gansu</string>
          <key>pictures</key>
          <string>S120.jpg/S124.jpg/S133.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>There is no happy smile.</string>
          <key>korea</key>
          <string>행복 한 미소 가 없다.</string>
          <key>japan</key>
          <string>楽しくない笑顔がない。</string>
          <key>tw</key>
          <string>沒有快樂微笑還在</string>
    </dict>
    <dict>
          <key>id</key>
          <string>8</string>
          <key>nickname</key>
          <string>Brooke</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1995-07-14</string>
          <key>aboutus</key>
          <string>不想废话</string>
          <key>avater</key>
          <string>S188.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S188.jpg/S179.jpg/S194.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Don&apos;t want nonsense</string>
          <key>korea</key>
          <string>군말이 없다</string>
          <key>japan</key>
          <string>むだ口をしたくない</string>
          <key>tw</key>
          <string>不想廢話</string>
    </dict>
    <dict>
          <key>id</key>
          <string>9</string>
          <key>nickname</key>
          <string>Taylor</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1988-03-19</string>
          <key>aboutus</key>
          <string>生活在梦里的女人</string>
          <key>avater</key>
          <string>S217.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S217.jpg/S228.jpg/S229.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The woman who lives in a dream.</string>
          <key>korea</key>
          <string>꿈속에 사는 여자.</string>
          <key>japan</key>
          <string>夢の中の女に暮らす。</string>
          <key>tw</key>
          <string>生活在夢裡的女人</string>
    </dict>
    <dict>
          <key>id</key>
          <string>10</string>
          <key>nickname</key>
          <string>Angel mary</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1996-04-26</string>
          <key>aboutus</key>
          <string>世界纷纷扰扰 花花绿绿乱了谁的眼</string>
          <key>avater</key>
          <string>S247.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S247.jpg/S239.jpg/S40.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The world is buzzing with flowers and trees.</string>
          <key>korea</key>
          <string>세상이 온통 알록달록하 며 누구의 눈을 어지럽게 한다.</string>
          <key>japan</key>
          <string>世界各地では人々の目を騒がしている。</string>
          <key>tw</key>
          <string>世界紛紛擾擾花花綠綠亂了誰的眼</string>
    </dict>
    <dict>
          <key>id</key>
          <string>11</string>
          <key>nickname</key>
          <string>Luna</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1988-08-30</string>
          <key>aboutus</key>
          <string>希望在旅行中结交幽默风趣的国际友人</string>
          <key>avater</key>
          <string>S253.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S253.jpg/S254.jpg/S55.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>I hope to make friends with humorous international friends during the trip.</string>
          <key>korea</key>
          <string>여행 중에 유머 스러 운 국제 친구를 사귀고 싶다.</string>
          <key>japan</key>
          <string>旅行中にユーモラスな国際的な友人を交ぜてほしい。</string>
          <key>tw</key>
          <string>希望在旅行中結交幽默風趣的國際友人</string>
    </dict>
    <dict>
          <key>id</key>
          <string>12</string>
          <key>nickname</key>
          <string>Baby_dollface</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1994-02-21</string>
          <key>aboutus</key>
          <string>爱旅行 爱交友  爱我所爱</string>
          <key>avater</key>
          <string>S275.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S75.jpg/S277.jpg/S281.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>I love travel and love.</string>
          <key>korea</key>
          <string>여행을 사랑하 며 사랑하는 것을 사랑 해요.</string>
          <key>japan</key>
          <string>愛の旅は私の好きだ。</string>
          <key>tw</key>
          <string>愛旅行愛交友愛我所愛</string>
    </dict>
    <dict>
          <key>id</key>
          <string>13</string>
          <key>nickname</key>
          <string>Mahalia</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1999-12-22</string>
          <key>aboutus</key>
          <string>喜欢大海  喜欢到处旅行</string>
          <key>avater</key>
          <string>S287.jpg</string>
          <key>city</key>
          <string>shanghai</string>
          <key>pictures</key>
          <string>S287.jpg/S289.jpg/S295.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Like the sea like to travel everywhere.</string>
          <key>korea</key>
          <string>바다 가 좋아서 여기저기 여행하는 것을 좋 아해요.</string>
          <key>japan</key>
          <string>海が好きで旅行が好きだ。</string>
          <key>tw</key>
          <string>喜歡大海喜歡到處旅行</string>
    </dict>
    <dict>
          <key>id</key>
          <string>14</string>
          <key>nickname</key>
          <string>Dorothy</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1996-03-08</string>
          <key>aboutus</key>
          <string>寻找玩伴 需找爱人 中国籍男人勿扰</string>
          <key>avater</key>
          <string>S316.jpg</string>
          <key>city</key>
          <string>shanghai</string>
          <key>pictures</key>
          <string>S316.jpg/S324.jpg/S316.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Find a partner to find a Chinese man not to disturb.</string>
          <key>korea</key>
          <string>파트너를 찾아 남편을 찾아야하는 남자들은 방해 하지 말아야 한다.</string>
          <key>japan</key>
          <string>遊びを探すのは恋人の中国国籍の男性を探すこと。</string>
          <key>tw</key>
          <string>尋找玩伴需找愛人中國籍男人勿擾</string>
    </dict>
    <dict>
          <key>id</key>
          <string>15</string>
          <key>nickname</key>
          <string>Anne</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1994-02-28</string>
          <key>aboutus</key>
          <string>在旅途中寻找一份爱</string>
          <key>avater</key>
          <string>S389.jpg</string>
          <key>city</key>
          <string>guangzhou</string>
          <key>pictures</key>
          <string>S89.jpg/S403.jpg/S413.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Look for love on your journey.</string>
          <key>korea</key>
          <string>여행 중에 사랑을 찾다.</string>
          <key>japan</key>
          <string>旅で愛を探す。</string>
          <key>tw</key>
          <string>在旅途中尋找一份愛</string>
    </dict>
    <dict>
          <key>id</key>
          <string>16</string>
          <key>nickname</key>
          <string>Madelynjade</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1991-08-07</string>
          <key>aboutus</key>
          <string>旅行 美食  唯独缺爱人</string>
          <key>avater</key>
          <string>S454.jpg</string>
          <key>city</key>
          <string>lasa</string>
          <key>pictures</key>
          <string>S454.jpg/S490.jpg/S502.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Love is the only food in the world.</string>
          <key>korea</key>
          <string>여행 맛있는 음식은 오직 애인이 없다.</string>
          <key>japan</key>
          <string>旅に出た料理は妻に限る。</string>
          <key>tw</key>
          <string>旅行美食唯獨缺愛人</string>
    </dict>
    <dict>
          <key>id</key>
          <string>17</string>
          <key>nickname</key>
          <string>karna</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1997-03-21</string>
          <key>aboutus</key>
          <string>注定在旅途中寻找生活的方向</string>
          <key>avater</key>
          <string>S601.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S601.jpg/S622.jpg/S617.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Destined to find the direction of life on the journey.</string>
          <key>korea</key>
          <string>여행 중에 삶의 방향을 찾는 것이 운명이다.</string>
          <key>japan</key>
          <string>旅の中で生活の道を探すのだ。</string>
          <key>tw</key>
          <string>註定在旅途中尋找生活的方向</string>
    </dict>
    <dict>
          <key>id</key>
          <string>18</string>
          <key>nickname</key>
          <string>Carina Estala</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1993-12-02</string>
          <key>aboutus</key>
          <string>爱情充满了谎言与欺骗</string>
          <key>avater</key>
          <string>642.jpg</string>
          <key>city</key>
          <string>sanya</string>
          <key>pictures</key>
          <string>S638.jpg/S642.jpg/S645.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Love is full of lies and deceit.</string>
          <key>korea</key>
          <string>사랑은 거짓말과 기만이다.</string>
          <key>japan</key>
          <string>愛は嘘と欺瞞に満ちている。</string>
          <key>tw</key>
          <string>愛情充滿了謊言與欺騙</string>
    </dict>
    <dict>
          <key>id</key>
          <string>19</string>
          <key>nickname</key>
          <string>Caitlin</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1991-01-19</string>
          <key>aboutus</key>
          <string>喜欢阳光 喜欢旅途</string>
          <key>avater</key>
          <string>S659.jpg</string>
          <key>city</key>
          <string>shanghai</string>
          <key>pictures</key>
          <string>S659.jpg/S662.jpg/S670.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Prefer the sun to the journey.</string>
          <key>korea</key>
          <string>햇살을 좋 아해 여행하는 것을 좋아 한다.</string>
          <key>japan</key>
          <string>太陽が好きで旅が好きだ。</string>
          <key>tw</key>
          <string>喜歡陽光喜歡旅途</string>
    </dict>
    <dict>
          <key>id</key>
          <string>20</string>
          <key>nickname</key>
          <string>Tegan</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1995-07-19</string>
          <key>aboutus</key>
          <string>舞蹈 话剧 旅行 梦想</string>
          <key>avater</key>
          <string>S687.jpg</string>
          <key>city</key>
          <string>zhangjiang</string>
          <key>pictures</key>
          <string>S687.jpg/S688.jpg/S689.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Dance drama travel dream.</string>
          <key>korea</key>
          <string>무용 연극 여행의 꿈.</string>
          <key>japan</key>
          <string>踊る演劇旅行の夢。</string>
          <key>tw</key>
          <string>舞蹈話劇旅行夢想</string>
    </dict>
    <dict>
          <key>id</key>
          <string>21</string>
          <key>nickname</key>
          <string>Krystal</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1996-09-10</string>
          <key>aboutus</key>
          <string>电影中的情节来自于现实中的生活</string>
          <key>avater</key>
          <string>S699.jpg</string>
          <key>city</key>
          <string>xian</string>
          <key>pictures</key>
          <string>S699.jpg/S670.jpg/S671.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The plot of the film comes from real life.</string>
          <key>korea</key>
          <string>영화 속의 줄거리는 현실에서 사는 것이다.</string>
          <key>japan</key>
          <string>映画の中のプロットは現実的な生活から始まった。</string>
          <key>tw</key>
          <string>電影中的情節來自於現實中的生活</string>
    </dict>
    <dict>
          <key>id</key>
          <string>22</string>
          <key>nickname</key>
          <string>Joanna</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1992-01-30</string>
          <key>aboutus</key>
          <string>想要嫁到国外的中国女人</string>
          <key>avater</key>
          <string>S708.jpg</string>
          <key>city</key>
          <string>sichuan</string>
          <key>pictures</key>
          <string>S708.jpg/S712.jpg/S729.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Chinese women who want to marry abroad.</string>
          <key>korea</key>
          <string>외국으로 시집가 려는 중국 여자.</string>
          <key>japan</key>
          <string>海外の中国の女性に嫁いで行きたい。</string>
          <key>tw</key>
          <string>想要嫁到國外的中國女人</string>
    </dict>
    <dict>
          <key>id</key>
          <string>23</string>
          <key>nickname</key>
          <string>Toranna</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1996-05-28</string>
          <key>aboutus</key>
          <string>一个喜欢拳击的上海女孩</string>
          <key>avater</key>
          <string>S742.jpg</string>
          <key>city</key>
          <string>chongqing</string>
          <key>pictures</key>
          <string>S742.jpg/S748.jpg/S752.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>A Shanghai girl who likes boxing.</string>
          <key>korea</key>
          <string>복싱을 좋아하는 상해 여자.</string>
          <key>japan</key>
          <string>ボクシングの好きな上海の女の子。</string>
          <key>tw</key>
          <string>一個喜歡拳擊的上海女孩</string>
    </dict>
    <dict>
          <key>id</key>
          <string>24</string>
          <key>nickname</key>
          <string>kitty</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1991-02-22</string>
          <key>aboutus</key>
          <string>中国国家爵士舞一级演员</string>
          <key>avater</key>
          <string>S757.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S757.jpg/S769.jpg/S772.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Chinese national jazz dancers.</string>
          <key>korea</key>
          <string>중국 국가의 재즈 댄서 1 급 배우.</string>
          <key>japan</key>
          <string>中国のジャズダンス1級俳優。</string>
          <key>tw</key>
          <string>中國國家爵士舞一級演員</string>
    </dict>
    <dict>
          <key>id</key>
          <string>25</string>
          <key>nickname</key>
          <string>adeline</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1993-06-08</string>
          <key>aboutus</key>
          <string>旅游 电影 性</string>
          <key>avater</key>
          <string>S789.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S789.jpg/S804.jpg/S809.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>travelogue</string>
          <key>korea</key>
          <string>여행영화 성</string>
          <key>japan</key>
          <string>観光映画性</string>
          <key>tw</key>
          <string>旅遊電影性</string>
    </dict>
    <dict>
          <key>id</key>
          <string>26</string>
          <key>nickname</key>
          <string>amanda</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1998-01-14</string>
          <key>aboutus</key>
          <string>背起书包就走的旅行</string>
          <key>avater</key>
          <string>S811.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S811.jpg/S815.jpg/S817.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Take a trip with your bag on your back.</string>
          <key>korea</key>
          <string>가방을 메고 가는 여행.</string>
          <key>japan</key>
          <string>かばんを背にして歩く旅行。</string>
          <key>tw</key>
          <string>背起書包就走的旅行</string>
    </dict>
    <dict>
          <key>id</key>
          <string>27</string>
          <key>nickname</key>
          <string>brenda </string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1994-11-11</string>
          <key>aboutus</key>
          <string>一生一世的印记</string>
          <key>avater</key>
          <string>S839.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S839.jpg/S857.jpg/S855.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The mark of a lifetime.</string>
          <key>korea</key>
          <string>일생 일대의 기록.</string>
          <key>japan</key>
          <string>一生1世の印。</string>
          <key>tw</key>
          <string>一生一世的印記</string>
    </dict>
    <dict>
          <key>id</key>
          <string>28</string>
          <key>nickname</key>
          <string>beatrice</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1996-08-08</string>
          <key>aboutus</key>
          <string>一花一世界</string>
          <key>avater</key>
          <string>S879.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S879.jpg/S889.jpg/S891.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>A flower and a world</string>
          <key>korea</key>
          <string>온통 세상이다.</string>
          <key>japan</key>
          <string>一花の世界</string>
          <key>tw</key>
          <string>一花一世界</string>
    </dict>
    <dict>
          <key>id</key>
          <string>29</string>
          <key>nickname</key>
          <string>candice</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1997-12-26</string>
          <key>aboutus</key>
          <string>你别看我巨乳 但是我充满了智慧</string>
          <key>avater</key>
          <string>S945.jpg</string>
          <key>city</key>
          <string>dalian</string>
          <key>pictures</key>
          <string>S945.jpg/S948.jpg/S951.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>You don&apos;t look at my breasts but I am full of wisdom.</string>
          <key>korea</key>
          <string>너는나의 거대 한 우유를 보지 마라.나는 지혜로 가득하다.</string>
          <key>japan</key>
          <string>私の巨乳を見ても、私は知恵に満ちています。</string>
          <key>tw</key>
          <string>你別看我巨乳但是我充滿了智慧</string>
    </dict>
    <dict>
          <key>id</key>
          <string>30</string>
          <key>nickname</key>
          <string>carol</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1987-04-23</string>
          <key>aboutus</key>
          <string>爱旅行 爱人生</string>
          <key>avater</key>
          <string>S965.jpg</string>
          <key>city</key>
          <string>wuhan</string>
          <key>pictures</key>
          <string>S965.jpg/S967.jpg/S969.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Love travel, love life.</string>
          <key>korea</key>
          <string>여행을 사랑하 며 인생을 사랑 한다.</string>
          <key>japan</key>
          <string>旅行は人生を愛する。</string>
          <key>tw</key>
          <string>愛旅行愛人生</string>
    </dict>
    <dict>
          <key>id</key>
          <string>31</string>
          <key>nickname</key>
          <string>darcy</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1997-02-26</string>
          <key>aboutus</key>
          <string>喜欢看旅行中的大海 喜欢异国他乡的风土人情</string>
          <key>avater</key>
          <string>S985.jpg</string>
          <key>city</key>
          <string>suzhou</string>
          <key>pictures</key>
          <string>S985.jpg/S986.jpg/S988.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>I like to see the sea in the travel and the customs of the foreign country.</string>
          <key>korea</key>
          <string>여행 중의 바다는 이국 땅의 풍토와 인정을 좋아 한다.</string>
          <key>japan</key>
          <string>旅行中の海を楽しむのは異国的な風土が好きだ。</string>
          <key>tw</key>
          <string>喜歡看旅行中的大海喜歡異國他鄉的風土人情</string>
    </dict>
    <dict>
          <key>id</key>
          <string>32</string>
          <key>nickname</key>
          <string>diana</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1997-02-27</string>
          <key>aboutus</key>
          <string>人生苦短 旅行加美食才是一切</string>
          <key>avater</key>
          <string>S1072.jpg</string>
          <key>city</key>
          <string>beijing</string>
          <key>pictures</key>
          <string>S1072.jpg/S1076.jpg/S1084.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>Life is short, travel and food are everything.</string>
          <key>korea</key>
          <string>인생은 짧고 짧은 여행을하는 것이 모든 것이다.</string>
          <key>japan</key>
          <string>人生の短い旅と食べ物がすべて。</string>
          <key>tw</key>
          <string>人生苦短旅行加美食才是一切</string>
    </dict>
    <dict>
          <key>id</key>
          <string>33</string>
          <key>nickname</key>
          <string>quentina</string>
          <key>sex</key>
          <string>女</string>
          <key>birthday</key>
          <string>1995-02-28</string>
          <key>aboutus</key>
          <string>拿起相机到处旅行的女子</string>
          <key>avater</key>
          <string>S1094.jpg</string>
          <key>city</key>
          <string>nanjing</string>
          <key>pictures</key>
          <string>S1094.jpg/S1096.jpg/S1099.jpg</string>
          <key>messageid</key>
          <string>1</string>
          <key>type</key>
          <string>1</string>
          <key>english</key>
          <string>The woman who picked up the camera and traveled everywhere.</string>
          <key>korea</key>
          <string>카메라를들고 여기저기 여행하는 여자.</string>
          <key>japan</key>
          <string>カメラを持って旅をする女性。</string>
          <key>tw</key>
          <string>拿起相機到處旅行的女子</string>
    </dict>
</array>
</plist>